.field-map .field-google-map-ui {
  height: 50vh;
}

  .field-map .field-google-map-ui img {
    max-width: none;
  }

.field-map .field-content {
  margin-top: 1.5em;
}

  .field-map .field-content:first-of-type {
    margin-top: 0;
  }

  .field-map .field-content.field-lat,
  .field-map .field-content.field-lng {
    float: left;
    width: 50%;
  }

    .field-map .field-content.field-lat input,
    .field-map .field-content.field-lng input {
      padding-right: 0.5em;
    }

  .field-map .field-content.field-lat {
    padding-right: 0.75em;
  }

  .field-map .field-content.field-lng {
    padding-left: 0.75em;
  }
